@font-face {
     font-family: "SF";
     src: url("../fonts/SF-Pro.ttf");
}


.formulario {    
    text-align: center;    
    background-color: gainsboro;
    width: 100%;
    height: 100%;
}

.campos-formulario {    
    width: 100%;
    border-style: none;        
}

.botao-enviar {
    text-align: center;         
    width: 100%;
    background-color: gainsboro;    
}

.cabecalho {
    padding: 1%;
}

.botoesDiv {      
    align-items: center;            
}

.botoes {
    background-color: darkgrey;    
    border-style: none;    
    align-items: center;
}

.textoPadrao {
    font-family:"SF" 
}
